textarea {
    resize: none;    
}

.ctrl {
    margin: 15px;
    text-align: center;
    button {
        margin: 5px;
    }
}

.table {
    width: 50%;
    margin: 20px auto;

        th,td {
            text-align: center;   
        }
    
    
}

 .op {
        .col_2{
            text-align: right;
        }

        .col_0{
            text-align: left;
        }
    }   
.tree {
    width: 500px;
    height: 500px;
    margin: 0 auto;
} 


.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.alert {
    width: 60%;
    margin: 0 auto;
}
